.objstatus {
	width: 75%;
	display: inline-block;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.subj {
	display: inline-block;
}

.ops {
	display: inline-block;
	float: right;
	padding-top: 2%;
}

.ops__item {
	margin-left: 20px;
}