html {
}

body {
    margin: 0; /* убираем отступы в браузере */
    padding: 0;
	font-family: 'Hind', sans-serif;
}

.left, .right { position: absolute; }

.left {
    width: 25%;
    height: 100%;
    float: left;
    background: #262726;
    color: white;
}

.right {
    width: 70%;
    margin-left: 26%;
	font-weight: normal;
    color: grey;
}

.sidebar {
    padding: 30px 50px;
}

#sidebar__user {
    font-size: 120%;
}

.username {
	display: inline-block;
 	text-transform: capitalize;
}

.sidebar__lists {
    margin: 30px 0;
}

.sidebar__lists>p {
    margin-left: 5px;
	margin-right: 58%;
    display: inline;
	text-transform: capitalize;
}


.sidebar__criterions {
    margin-bottom: 30px;
}

.sidebar__criterions>a {
    display: block;
    color: white;
    text-decoration: none;
	text-transform: capitalize;
}

.sidebar__other {
    margin-bottom: 30px;
}

.sidebar__other>a {
    display: block;
    color: white;
    text-decoration: none;
	text-transform: capitalize;
}

.content {
    padding: 0 50px;
}

.header {
    margin-bottom: 30px;
}

.menu {
    margin-top: 40px;
}

#burgerheader {
    margin-right: 20px;
}

.menu>a {
    display: inline;
    color: grey;
    text-decoration: none;
}

.menu>p {
    display: inline;
    color: grey;
    text-decoration: none;
    margin: 0 20px;
}

#inputTask {
    border: none;
    width: 65%;
    height: 30px;
    font-size: 125%;
    opacity: 0.5;
}

#add {
    font-size: 105%;
    border: none;
    color: grey;
    background: #C7C7C7;
    padding: 5px 10px;
	margin-left: 5px;
}

#add:active {
    border: none;
    opacity: 0.8;
}

#h1 {
    text-transform: uppercase;
    font-size: 130%;
	font-weight: normal;
    color: grey;
}

#important {
	font-weight: normal;
    color: grey;
	font-size: 110%;
}

.objstatus {
	width: 75%;
	display: inline-block;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.subj {
	display: inline-block;
}

.ops {
	display: inline-block;
	float: right;
	padding-top: 2%;
}

.ops__item {
	margin-left: 20px;
}



.circle {
	display: inline-block;
    width: 24px;
    height: 24px;
    background: cornflowerblue;
    border-radius: 50px;
	margin: 0 5px;
	text-align: center;
	color: white;
}

.circle_right {
	float: right;
}

.hide {
	display: none;
}